.anketHeader {
    width: 100%;
    padding: 0 0 150rem;

    &__head {
        align-items: center;
        margin-bottom: 48rem;

        @include mob {
            margin-bottom: 28rem;
        }

        &Title {
            margin-bottom: 24rem;
            text-align: center;
        }

        &Text {
            text-align: center;
        }
    }

    &__content {
        width: 720rem;
        margin: 0 auto;
        padding: 40rem 64rem;
        background: #ffcd03;
        border-radius: 20rem;

        @include mob {
            width: 100%;
            padding: 28rem 13rem;
        }
    }
}
