.profileCodes {
    width: 100%;
    padding: 84rem 0;

    &__title {
        margin-bottom: 40rem;
        text-align: center;
    }

    &__table {
        width: 100%;
        padding: 0 32rem;
    }
}
