.profileCodes {
    width: 100%;
    padding: 84rem 0;

    @include mob {
        padding: 64rem 0;
    }

    &__title {
        margin-bottom: 40rem;
        text-align: center;

        @include mob {
            margin-bottom: 34rem;
        }
    }

    &__table {
        width: 100%;
        padding: 0 32rem;

        @include mob {
            padding: 0;
        }
    }
}
