.profilePrize {
    width: 100%;
    padding: 20rem;
    background: #783fc7;
    border-radius: 20rem;

    &__head {
        width: 100%;
        height: 192rem;
        margin-bottom: 20rem;

        &Thumb {
            object-fit: contain;
        }
    }

    &__content {
        align-items: center;
        width: 100%;
    }

    &__name {
        margin-bottom: 20rem;
        color: #fff;
        font-size: 24rem;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
    }

    &__status {
        padding: 7rem 16rem 6rem;
        font-weight: 700;
        font-size: 14rem;
        font-family: Onest;
        text-transform: uppercase;
        border: 2rem solid transparent;
        border-radius: 360rem;

        @include mob {
            font-size: 16rem;
        }

        &._SENDING {
            color: #c10230;
            background: #ffcd03;
        }

        &._RECEIVED {
            color: #fff;
            border-color: #fff;
        }

        &._PROCESSING {
            color: #5d279e;
            background: #fff;
        }

        &._DATA_NEEDED {
            color: #fff;
            background: #c10230;
        }
    }
}
