.indexPrizes {
    position: relative;
    width: 100%;
    margin: -140rem 0 0;
    padding: 170rem 0;
    background: #5c0f8b;

    @include mob {
        margin-top: -50rem;
        padding: 90rem 0 86rem;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        width: 100%;
        height: 100%;
        content: "";

        @include bg("/media/main-back-2.svg", 100% auto, center top);

        @include mob {
            @include bg("/media/main-back-2-mob.svg", 100% auto, center top);
        }
    }

    &::after {
        position: absolute;
        top: 806rem;
        left: 50%;
        z-index: 6;
        width: 136rem;
        height: 584rem;
        margin: 0 0 0 20rem;
        transform: translate(-50%, 0);
        content: "";

        @include bg("/media/line-back-2.svg", contain, center top);

        @include mob {
            top: 560rem;
            width: 750rem;
            height: 2450rem;
            margin: 0 0 0 24rem;

            @include bg("/media/line-2-mob.svg", contain, center top);
        }
    }

    &__inner {
        padding: 0 40rem;

        @include mob {
            padding: 0;
        }
    }

    &__mainprize {
        position: relative;
        z-index: 7;
        align-items: flex-end;
        width: 100%;
        height: 682rem;
        padding: 56rem 72rem;

        @include bg("/media/main-prize-image.png", 100% auto, center top);

        @include mob {
            padding: 14rem 40rem 32rem;

            @include bg("/media/main-prize-image-mob.png", 100% auto, center top);
        }

        &::before {
            position: absolute;
            top: -56rem;
            right: -72rem;
            z-index: 2;
            width: 162rem;
            height: 239rem;
            content: "";

            @include bg("/media/lamp.svg", contain, right top);

            @include mob {
                top: -44rem;
                right: 2rem;
                width: 140rem;
                height: 140rem;
            }
        }

        &Inner {
            position: relative;
            z-index: 3;
            align-items: center;
            width: 562rem;

            @include mob {
                width: 100%;
            }
        }

        &Slogan {
            display: block;
            width: 200rem;
            height: 66rem;
            margin: 0 0 43rem -36rem;
            object-fit: contain;

            @include mob {
                width: 172rem;
                margin-bottom: 12rem;
            }
        }

        &Title {
            position: relative;
            padding-left: 78rem;

            @include mob {
                padding-left: 51rem;
            }

            &Count {
                position: absolute;
                top: -12rem;
                left: 0;
                color: var(--main-color);
                font-size: 152rem;
                line-height: 1;

                @include mob {
                    top: -10rem;
                    left: -3rem;
                    font-size: 104.5rem;
                }
            }

            &Text {
                color: var(--main-color);
                font-size: 56rem;
                line-height: 1;
                letter-spacing: 1.5rem;

                @include mob {
                    font-size: 38rem;
                    letter-spacing: 1rem;
                    white-space: nowrap;
                }

                &._large {
                    font-size: 66rem;
                    line-height: 1.1;
                    letter-spacing: 2rem;

                    @include mob {
                        font-size: 46rem;
                        letter-spacing: 1rem;
                    }
                }
            }
        }

        &Text {
            position: relative;
            color: #fff;
            font-size: 39rem;
            letter-spacing: 2rem;
            text-transform: uppercase;

            @include mob {
                font-size: 27rem;
                letter-spacing: 1rem;
            }

            & span {
                position: absolute;
                top: 2rem;
                left: 100%;
                margin-left: 2rem;
                color: #fff;
                font-size: 20rem;
                line-height: 1.3;

                @include mob {
                    top: -2rem;
                    font-size: 14rem;
                }
            }
        }
    }

    &__prizes {
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        width: calc(100% + 90rem);
        margin: 254rem 0 0 -45rem;

        @include mob {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            margin: 50rem 0 0;
        }

        &Card {
            position: relative;
            width: 560rem;
            height: 420rem;

            @include mob {
                width: 100%;
                height: 344rem;
            }

            &._garant {
                margin-top: 140rem;

                @include bg("/media/prize-back-2.svg", contain, center top);

                @include mob {
                    margin-top: 0;

                    @include bg("/media/prize-back-2-mob.svg", contain, center top);
                }
            }

            &._week {
                @include bg("/media/prize-back-3.svg", contain, center top);

                margin-right: -28rem;

                @include mob {
                    @include bg("/media/prize-back-3-mob.svg", contain, center top);

                    margin-right: 0;
                }
            }

            &Title {
                width: 100%;
                color: #fff;
                font-size: 40rem;
                text-align: center;
                text-transform: uppercase;

                @include mob {
                    font-size: 31rem;
                }
            }

            &._garant &Title {
                padding: 16rem 0 0 10rem;

                @include mob {
                    padding: 6rem 0 0 10rem;
                }
            }

            &._week &Title {
                padding: 14rem 20rem 0 0;

                @include mob {
                    padding: 7rem 0 0 5rem;
                }
            }

            &Content {
                color: #fff;
                line-height: 1;
                text-transform: uppercase;

                & span {
                    position: relative;
                }

                & ._degree {
                    position: absolute;
                    top: 0;
                    left: 100%;
                    color: #fff;
                    font-size: 16rem;

                    @include mob {
                        top: -2rem;
                        font-size: 14rem;
                    }
                }
            }

            &._garant &Content {
                margin: 106rem 0 0 78rem;
                font-size: 50rem;
                transform: rotate(-13deg);

                @include mob {
                    margin: 72rem 0 0 52rem;
                    font-size: 35.5rem;
                }

                & b {
                    font-size: 61rem;

                    @include mob {
                        font-size: 43rem;
                        line-height: 0.9;
                    }
                }

                & ._degree {
                    margin: 5rem 0 0 8rem;

                    @include mob {
                        margin-left: 6rem;
                    }
                }
            }

            &._week &Content {
                margin: 108rem 33rem 0 auto;
                font-size: 30rem;
                letter-spacing: 0.5rem;

                @include mob {
                    margin: 70rem 23rem 0 auto;
                    font-size: 20rem;
                }

                & ._degree {
                    margin: 0 0 0 3rem;
                }

                & b {
                    font-size: 45.5rem;
                    letter-spacing: 0;

                    @include mob {
                        font-size: 30.5rem;
                    }
                }
            }
        }
    }
}
