.faqForm {
    width: 100%;
    padding: 100rem 0 150rem;

    @include mob {
        padding: 60rem 0 100rem;
    }

    &__inner {
        position: relative;
        width: 780rem;

        @include mob {
            width: 100%;
        }

        &Box {
            align-items: center;
            width: 100%;
            transition: $trans;
        }

        &Blocks {
            width: 100%;
        }

        &Block {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }

    &__success {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 350rem;
        will-change: transform;

        @include bg("/media/inner/faq-form-success.svg", contain, center top);

        @include mob {
            padding: 32rem 16rem;

            @include bg("/media/inner/faq-form-success-mob.svg", contain, center top);
        }

        &Inner {
            align-items: center;
            width: 512rem;
            margin: auto;
            padding: 40rem 32rem;
            background: #c10230;
            border-radius: 20rem;

            @include mob {
                width: 100%;
                padding: 36rem 20rem;
            }
        }

        &Title {
            color: #fff;
            font-size: 40rem;
            text-align: center;
            text-transform: uppercase;

            @include mob {
                font-size: 34rem;
            }
        }

        &Text {
            margin-top: 18rem;
            color: #fff;
            font-size: 24rem;
            line-height: 1.3;
            text-align: center;

            @include mob {
                margin-top: 12rem;
                font-size: 24rem;
                line-height: 1.2;
            }
        }
    }

    &._success &__innerBox {
        opacity: 0;
        pointer-events: none;
    }

    &__title {
        position: relative;
        z-index: 2;
        width: 85%;
        margin-bottom: -90rem;
        padding: 32rem 0 43rem;
        color: #fff;
        font-size: 40rem;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;

        @include mob {
            width: 80%;
            margin-bottom: -110rem;
            padding: 40rem 0;
            font-size: 31rem;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            content: "";

            @include bg("/media/inner/faq-form-title-back.svg", contain, center);

            @include mob {
                @include bg("/media/inner/faq-form-title-back-mob.svg", contain, center);
            }
        }
    }

    &__form {
        position: relative;
        z-index: 1;
        width: 100%;
        padding: 108rem 100rem 88rem;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            content: "";
            pointer-events: none;

            @include bg("/media/inner/faq-form-back.svg", 100% auto, center top);

            @include mob {
                left: 50%;
                width: 115%;
                transform: translate(-50%, 0);

                @include bg("/media/inner/faq-form-back-mob.svg", 100% auto, center top);
            }
        }

        @include mob {
            padding: 120rem 28rem 80rem;
        }

        &Inner {
            width: 100%;
            transition: $trans;
            will-change: transform;
        }

        &._success &Inner {
            transform: scale(0.97);
            opacity: 0;
        }
    }
}
