.error {
    width: 100%;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &._center &__item {
        text-align: center;
    }

    &__text {
        padding: 4rem 9rem;
        color: #fff;
        font-weight: 600;
        font-size: 16rem;
        font-family: Onest;
        line-height: 1.3;
        text-align: center;
        background: #c10f2f;
        border-radius: 16rem;

        @include mob {
            font-size: 15rem;
        }
    }
}
