@font-face {
    font-weight: 500;
    font-family: Bloc;
    font-style: normal;
    src: url("../fonts/bloc/Regular.ttf");
}

@font-face {
    font-weight: 500;
    font-family: Inter;
    font-style: normal;
    src: url("../fonts/inter/Inter-Regular.ttf");
}
