@font-face {
    font-weight: 500;
    font-family: Bloc;
    font-style: normal;
    src: url("../fonts/bloc/Regular.ttf");
}

@font-face {
    font-weight: 500;
    font-family: BlocDef;
    font-style: normal;
    src: url("../fonts/bloc/blocc.ttf");
}

@font-face {
    font-weight: 500;
    font-family: Onest;
    font-style: normal;
    src: url("../fonts/Onest/Onest-Regular.ttf");
}

@font-face {
    font-weight: 600;
    font-family: Onest;
    font-style: normal;
    src: url("../fonts/Onest/Onest-Medium.ttf");
}

@font-face {
    font-weight: 700;
    font-family: Onest;
    font-style: normal;
    src: url("../fonts/Onest/Onest-Bold.ttf");
}
