.form {
    align-items: center;
    width: 100%;

    &__fields {
        width: 100%;
        margin-bottom: 32rem;
    }

    &__field {
        width: 100%;

        & + & {
            margin-top: 16rem;

            @include mob {
                margin-top: 18rem;
            }
        }
    }

    &__required {
        width: 100%;
        margin-bottom: 16rem;
        color: #5d279e;
        font-weight: 600;
        font-size: 16rem;
        font-family: Onest;
        line-height: 1.3;
    }

    &__error {
        width: 100%;
        transition: $trans;

        &:not(._empty) {
            margin: -10rem 0 20rem;
        }
    }

    &__button {
        min-width: 240rem;
    }
}
