.input {
    position: relative;

    &._formField {
        background: #fff;
        border-radius: 16rem;

        @include mob {
            border-radius: 18rem;
        }
    }

    &__field,
    &__support {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &._area &__field,
    &._area &__support {
        align-items: flex-start;
    }

    &__support {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: text;
        transition: $trans;
    }

    &._fill &__support {
        opacity: 0;
        pointer-events: none;
    }

    &._select &__field,
    &._select &__support {
        cursor: pointer;
        user-select: none;
        pointer-events: visible;
    }

    &._subMode &__field,
    &._subMode &__support {
        padding: 10rem 10rem 10rem 42rem;
        color: var(--sub-color);
        font-weight: 600;
        font-size: 16rem;
        font-family: Onest;

        @include mob {
            padding: 10rem 16rem 10rem 52rem;
            font-size: 18rem;
        }
    }

    &._formField &__field,
    &._formField &__support {
        padding: 14rem 16rem;
        color: var(--sub-color);
        font-weight: 600;
        font-size: 18rem;
        font-family: Onest;

        @include mob {
            font-size: 18rem;
        }
    }

    &._formField &__support {
        color: rgba(#5c0f8b, 0.6);
    }
}
