.popup {
    &:not(._withIds) {
        padding: 32rem;

        @include mob {
            padding: 24rem 16rem;
        }
    }

    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: inline-flex;
        padding: 32rem;
        overflow: hidden;
        overflow-y: auto;

        @include mob {
            padding: 24rem 16rem;
        }
    }

    &__inner {
        position: relative;
        z-index: 1;
        width: 100%;
        width: 500rem;
        margin: auto;
        background: #8ec046;
        border-radius: 24rem;
        transition: $trans;

        @include mob {
            width: 100%;
            max-width: 400rem;
        }

        &Box {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 32rem 40rem;
            transition: $trans;

            &._empty {
                padding: 0 !important;
            }

            &._loading {
                opacity: 0;
                pointer-events: none;
            }

            @include mob {
                padding: 20rem 16rem;
            }
        }
    }

    &._loading &__innerBox {
        opacity: 0;
        pointer-events: none;
    }

    &._chequePopup &__inner {
        width: 500rem;
    }

    &__close {
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 2;
        width: 48rem;
        height: 48rem;
        margin-left: 12rem;
        padding: 15rem;
        background: var(--back-color);
        border-radius: 50%;

        @include icon(#fff);
        @include button(0.95);
    }

    &__height {
        min-height: 200rem;

        @include mob {
            min-height: auto;
        }
    }

    &__steps {
        width: 100%;

        &Item {
            width: 100%;
        }
    }

    &__step {
        top: 50%;
        transform: translate(0, -50%);

        &:not([data-show])[data-prev] {
            transform: translate(-32rem, -50%);
        }

        &:not([data-show])[data-next] {
            transform: translate(32rem, -50%);
        }
    }

    &__head {
        justify-content: center;
        margin-bottom: 24rem;
    }

    &__title {
        color: #6c1100;
        font-weight: 600;
        font-size: 24rem;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;

        @include mob {
            font-size: 21rem;
        }
    }

    &__description {
        max-width: 80%;
        margin-top: 5rem;
        color: #c50018;
        font-size: 16rem;
        line-height: 1.3;
        text-align: center;

        @include mob {
            max-width: none;
            margin-top: 2rem;
            font-weight: 500;
            font-size: 17rem;
        }
    }

    &__code {
        &Text {
            margin-bottom: 14rem;
            color: #fff;
            font-weight: 500;
            font-size: 20rem;
            line-height: 1.4;
            text-align: center;

            & a {
                color: #fff7ae;
                font-weight: 500;
                border-bottom: 1px solid rgba(#fff7ae, 0.64);
            }

            & span {
                color: #fff;
                font-size: 16rem;
                line-height: 1.4;
                text-align: center;
            }
        }

        &Email {
            margin: 12rem 0;
            padding: 6rem 20rem 5rem;
            color: #5d279e;
            font-weight: 500;
            font-size: 20rem;
            line-height: 1.3;
            text-align: center;
            background: #fed5ff;
            border-radius: 360rem;

            @include mob {
                padding: 9rem 20rem;
            }
        }

        &Inputs {
            max-width: 100%;
        }
    }

    &__socials {
        @include mob {
            margin-top: 6rem;
        }

        &Title {
            margin-bottom: 8rem;
            color: #fff;
            font-weight: 400;
            font-size: 20rem;
            line-height: 1.3;
            text-align: center;
            text-transform: uppercase;

            @include mob {
                font-size: 18rem;
            }
        }

        &Items {
            justify-content: center;
        }

        &Item {
            width: 56rem;
            height: 56rem;
            background: #f3f3f3;
            border-radius: 12rem;

            @include button;

            @include mob {
                width: 67rem;
                height: 67rem;
                border-radius: 16rem;
            }

            & + & {
                margin-left: 12rem;

                @include mob {
                    margin-left: 16rem;
                }
            }

            &Icon {
                width: 24rem;
                height: 24rem;
                object-fit: contain;

                @include mob {
                    width: 30rem;
                    height: 30rem;
                }
            }
        }
    }

    &__foot {
        margin-top: 28rem;

        @include mob {
            margin-top: 36rem;
        }
    }

    &__error {
        width: 100%;
        transition: $trans;

        &._info {
            margin-top: 20rem;
        }

        &:not(._empty) {
            margin-bottom: 20rem;
        }

        &._info .error__itemInner {
            background: #6aa31a;
        }
    }

    &__buttons {
        align-items: center;
        justify-content: center;
        width: 100%;

        @include mob {
            flex-direction: column-reverse;
            padding: 0 4rem;
        }
    }

    &__button {
        height: 68rem;

        @include mob {
            height: 76rem;
        }

        &._big {
            height: 88rem;

            @include mob {
                height: 68rem;
            }
        }

        @include mob {
            width: 100%;
        }

        &._fix {
            width: 220rem;

            @include mob {
                width: 100%;
            }
        }

        &._auto {
            @include mob {
                width: auto;
            }
        }

        & + & {
            margin-left: 13rem;

            @include mob {
                margin-bottom: 16rem;
                margin-left: 0;
            }
        }
    }
}
