.popup {
    &:not(._withIds) {
        padding: 32rem;

        @include mob {
            padding: 24rem 16rem;
        }
    }

    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: inline-flex;
        flex-direction: column;
        padding: 32rem;
        overflow: hidden;
        overflow-y: auto;

        @include mob {
            display: block;
            padding: 78rem 16rem 24rem;
        }
    }

    &._calcPopup &__inner {
        width: 888rem;
        height: 630rem;
        background: none;

        @include mob {
            width: 100%;
            height: auto;
        }
    }

    &._gamePopup &__inner {
        width: 888rem;
        height: 630rem;
        background: none;

        @include mob {
            width: 100%;
            height: 500rem;
        }

        &Box {
            position: relative;
            overflow: hidden;
            border-radius: inherit;
        }
    }

    &__inner {
        position: relative;
        z-index: 1;
        width: 100%;
        width: 588rem;
        margin: auto;
        background: #ffcd03;
        border-radius: 22rem;
        transition: $trans;

        @include mob {
            width: 100%;
            margin: 0;
            border-radius: 26rem;
        }

        &Box {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 32rem 34rem;
            transition: $trans;

            &._empty {
                padding: 0 !important;
            }

            &._loading {
                opacity: 0;
                pointer-events: none;
            }

            @include mob {
                padding: 20rem 14rem;
            }
        }
    }

    &._loading &__innerBox {
        opacity: 0;
        pointer-events: none;
    }

    &._chequePopup &__inner {
        width: 500rem;
    }

    &__close {
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 2;
        width: 48rem;
        height: 48rem;
        margin-left: 12rem;
        padding: 14rem;
        background: var(--back-color);
        border-radius: 50%;

        @include icon(#fff);
        @include button(0.95);

        @include mob {
            inset: auto 0 100% auto;
            margin-bottom: 14rem;
            margin-left: 0;
        }
    }

    &__height {
        min-height: 150rem;

        @include mob {
            min-height: auto;
        }
    }

    &__steps {
        width: 100%;

        &Item {
            top: 50%;
            width: 100%;
            transform: translate(0, -50%);

            &:not([data-show])[data-prev] {
                transform: translate(-32rem, -50%);
            }

            &:not([data-show])[data-next] {
                transform: translate(32rem, -50%);
            }
        }
    }

    &__step {
        width: 100%;
    }

    &__head {
        justify-content: center;
        margin-bottom: 22rem;
    }

    &__title {
        position: relative;
        z-index: 1;
        width: 100%;
        padding: 14rem 0 16rem;
        color: #fff;
        font-weight: 600;
        font-size: 36rem;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;

        &._bottom {
            margin-bottom: 20rem;
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            width: 100%;
            height: 70rem;
            transform: translate(-50%, -50%);
            content: "";

            @include bg("/media/popup-title-back.svg", contain, center);

            @include mob {
                width: calc(100% + 6rem);

                @include bg("/media/popup-title-back-mob.svg", contain, center);
            }
        }

        @include mob {
            padding: 16rem 0;
            font-size: 31rem;
        }
    }

    &__description {
        max-width: 80%;
        margin-top: 10rem;
        color: #5d279e;
        font-size: 24rem;
        line-height: 1.3;
        text-align: center;

        @include mob {
            max-width: 100%;
            margin-top: 4rem;
            font-weight: 500;
            font-size: 23rem;
        }
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: -16rem;

        &Field {
            margin-bottom: 16rem;

            &._short {
                width: calc(50% - 8rem);
            }

            &Link {
                display: inline-block;
                margin: 12rem 0 0 auto;
                color: #c10230;
                font-weight: 600;
                font-size: 16rem;
                font-family: Onest;
                line-height: 0.9;
                border-bottom: 1rem solid rgba(#c10230, 0.7);

                @include mob {
                    margin: 21rem 0 0 auto;
                    font-size: 18rem;
                    border-width: 2rem;
                }
            }
        }
    }

    &__start {
        margin: 20rem 0 28rem;

        &Title {
            max-width: 80%;
            margin-bottom: 32rem;
            color: #fff;
            font-weight: 500;
            font-size: 20rem;
            line-height: 1.3;
            text-align: center;

            @include mob {
                max-width: 100%;
            }
        }

        &Area {
            position: relative;
            padding: 30rem;
            background: #f3f3f3;
            border-radius: 16rem;

            &Border {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                pointer-events: none;

                & .dashedBorder__rect {
                    rx: 16rem;
                    ry: 16rem;
                    stroke: #c10f2f;
                }
            }

            &Icon {
                width: 36rem;
                height: 36rem;
                margin-bottom: 12rem;

                @include icon(#c10f2f);
            }

            &Text {
                color: #5d279e;
                font-weight: 600;
                font-size: 16rem;
                font-family: Onest;
                line-height: 1.3;
                text-align: center;

                @include mob {
                    font-size: 18rem;
                }
            }
        }
    }

    &__scan {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 340rem;
        overflow: hidden;
        border-radius: 20rem;

        &Video {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            object-fit: contain;
            opacity: 0;
            pointer-events: none;
        }

        & canvas {
            position: relative;
            z-index: 100;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__upload {
        position: relative;
        z-index: 1;
        min-height: 100rem;
        margin: 8rem 0 0;
        padding: 20rem;
        background: #f3f3f3;
        border-radius: 16rem;

        &Border {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            pointer-events: none;

            & .dashedBorder__rect {
                stroke: #5d279e;
                rx: 16rem;
                ry: 16rem;
            }
        }

        & input {
            display: none;
        }

        &Text {
            max-width: 80%;
            color: #6c1100;
            font-weight: 500;
            font-size: 16rem;
            line-height: 1.3;
            text-align: center;

            @include mob {
                max-width: 90%;
                font-size: 18rem;
            }
        }

        &File {
            position: relative;
            z-index: 1;
            width: 48rem;
            height: 48rem;
            margin-bottom: 8rem;
            overflow: hidden;
            border-radius: 10rem;

            & + & {
                margin-left: 10rem;
            }

            &Preview {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &Delete {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 3;
                width: 20rem;
                height: 20rem;
                background: #5d279e;
                border-radius: 50%;
                transform: translate(-50%, -50%);

                &Icon {
                    width: 8rem;
                    height: 8rem;

                    @include icon(#fff);
                }
            }
        }
    }

    &__final {
        position: relative;
        justify-content: center;
        min-height: 146rem;
        padding: 32rem;
        background: #fff;
        border-radius: 30rem;

        &._bottom {
            margin-bottom: 32rem;
        }

        @include mob {
            padding: 28rem 20rem;
        }

        &Border {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            pointer-events: none;

            & .dashedBorder__rect {
                stroke: #c10f2f;
                rx: 20rem;
                ry: 20rem;
            }
        }

        &Title {
            margin-bottom: 16rem;
            color: #5d279e;
            font-weight: 600;
            font-size: 30rem;
            line-height: 1.3;
            text-align: center;
        }

        &Text {
            color: #5d279e;
            font-weight: 500;
            font-size: 16rem;
            font-family: Onest;
            line-height: 1.3;
            text-align: center;
        }
    }

    &__scanError {
        position: relative;
        width: 100%;
        margin-bottom: 40rem;
        padding: 30rem;
        background: #fff;
        border-radius: 20rem;

        &Border {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            pointer-events: none;

            & .dashedBorder__rect {
                stroke: #c10f2f;
                rx: 20rem;
                ry: 20rem;
            }
        }

        &Text {
            margin-bottom: 16rem;
            color: #5d279e;
            font-weight: 500;
            font-size: 30rem;
            line-height: 1.3;
            text-align: center;
        }

        &Value {
            width: 100%;
            margin-bottom: 24rem;
            text-align: center;
        }

        &Button {
            @include mob {
                height: 66rem;
            }
        }
    }

    &__code {
        &Text {
            margin-bottom: 14rem;
            color: #5c0f8b;
            font-weight: 600;
            font-size: 18rem;
            font-family: Onest;
            line-height: 1.4;
            text-align: center;

            & a {
                color: #c10230;
                font-weight: 600;
                font-family: Onest;
                border-bottom: 1rem solid rgba(#c10230, 0.64);
            }

            & span {
                color: #5c0f8b;
                font-weight: 600;
                font-size: 16rem;
                font-family: Onest;
                text-align: center;
            }
        }

        &Email {
            margin: 12rem 0;
            padding: 4rem 12rem 3rem;
            color: #5d279e;
            font-weight: 600;
            font-size: 18rem;
            font-family: Onest;
            line-height: 1.3;
            text-align: center;
            background: #fed5ff;
            border-radius: 360rem;

            @include mob {
                padding: 4rem 12rem 3rem;
            }
        }

        &Inputs {
            max-width: 100%;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 18rem 0 0;

        @include mob {
            flex-direction: column;
            margin: 22rem 0 0;
        }

        &Title {
            margin-right: 32rem;
            color: #5d279e;
            font-weight: 400;
            font-size: 20rem;
            line-height: 1.3;
            text-align: center;

            @include mob {
                margin-right: 0;
                margin-bottom: 14rem;
                font-size: 23rem;
            }
        }

        &Items {
            justify-content: center;
        }

        &Item {
            width: 56rem;
            height: 56rem;
            background: #fff;
            border-radius: 14rem;

            @include button;

            @include mob {
                width: 72rem;
                height: 72rem;
                border-radius: 17rem;
            }

            & + & {
                margin-left: 8rem;

                @include mob {
                    margin-left: 10rem;
                }
            }

            &Icon {
                width: 24rem;
                height: 24rem;
                object-fit: contain;

                @include mob {
                    width: 30rem;
                    height: 30rem;
                }
            }
        }
    }

    &__foot {
        margin-top: 28rem;

        @include mob {
            margin-top: 36rem;
        }
    }

    &__error {
        width: 100%;
        transition: $trans;

        &._info {
            margin-top: 20rem;
        }

        &:not(._empty) {
            margin-bottom: 20rem;
        }

        &._info .error__itemInner {
            background: #6aa31a;
        }
    }

    &__buttons {
        align-items: center;
        justify-content: center;
        width: 100%;

        @include mob {
            flex-direction: column-reverse;
            padding: 0 4rem;
        }
    }

    &__button {
        height: 68rem;

        &._fix {
            width: calc(50% - 6rem);

            @include mob {
                width: 270rem;
            }
        }

        & + & {
            margin-left: 12rem;

            @include mob {
                margin-bottom: 16rem;
                margin-left: 0;
            }
        }
    }

    &__scanReader {
        display: block;
        width: 100%;
        height: 300rem;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, sans-serif;
        background: #000;
        border-radius: 12rem;

        & * {
            box-sizing: border-box;
        }

        & .app {
            width: 100%;
            height: 100%;
        }

        /* Сброс стилей для вложенных элементов */
        & div,
        & span,
        & video,
        & button {
            margin: 0;
            padding: 0;
            border: none;
            outline: none;
        }

        & video {
            display: block;
        }
    }

    &__game {
        width: 100%;
        height: 100%;
    }
}
