.zagl {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    background: #8fc045;

    @include mob {
        background: #5c0f8b;
    }

    &__wrapper {
        width: 100%;
        padding: 36rem 0 0;

        @include bg("/media/zagl/zagl-back.svg", 100% auto, center top);

        @include mob {
            padding: 14rem 0 0;

            @include bg("/media/zagl/zagl-back-mob.svg", 100% auto, center top);
        }
    }

    &__inner {
        position: relative;
        z-index: 1;
        width: 1200rem;
        padding-bottom: 150rem;

        @include mob {
            width: 360rem;
            padding-bottom: 440rem;
        }

        &::before {
            position: absolute;
            top: 178rem;
            right: -114rem;
            z-index: -1;
            width: 700rem;
            height: 650rem;
            content: "";

            @include bg("/media/zagl/sok-image.png", contain, right bottom);

            @include mob {
                inset: auto auto 40rem 50%;
                width: 420rem;
                height: 420rem;
                transform: translate(-50%, 0);
            }
        }
    }

    &__logo {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 104rem;
        height: 65rem;
        object-fit: contain;
        object-position: left center;

        @include mob {
            left: 50%;
            width: 82rem;
            height: 60rem;
            transform: translate(-50%, 0);
        }
    }

    &__date {
        position: absolute;
        top: -2rem;
        right: 62rem;
        z-index: 2;

        @include mob {
            top: 64rem;
            right: 0;
        }

        &Start {
            margin: -32rem 0 0;
            padding: 31rem 54rem;
            color: #fff;
            font-size: 21.5rem;
            line-height: 1.15;
            white-space: nowrap;
            text-align: center;
            transform: rotate(-10deg);

            @include bg("/media/zagl/date-frame.svg", contain, center);

            @include mob {
                margin: 12rem 0 0;
                padding: 28rem 40rem;
                font-size: 20rem;
            }

            & b {
                color: var(--main-color);
                font-size: 24.5rem;

                @include mob {
                    font-size: 22rem;
                }
            }
        }

        &:not(._init) &Timer {
            opacity: 0;
        }

        &Timer {
            width: 270rem;
            height: 250rem;
            margin-left: 20rem;
            padding: 0 54rem 42rem 0;
            transition: $trans;

            @include bg("/media/zagl/counter-back.svg", contain, center);

            @include mob {
                width: 164rem;
                height: 160rem;
                padding: 3rem 4rem 6rem 0;

                @include bg("/media/zagl/counter-back-mob.svg", contain, center);
            }

            &Support {
                color: var(--main-color);
                font-size: 20.5rem;
                letter-spacing: 0.5rem;

                @include mob {
                    font-size: 15rem;
                }

                &._main {
                    font-size: 31rem;
                    letter-spacing: 0.7rem;

                    @include mob {
                        font-size: 23rem;
                    }
                }
            }

            &Value {
                margin: -5rem 0 -8rem;
                color: #fff;
                font-size: 86rem;

                @include mob {
                    margin: -7rem 0 -10rem;
                    font-size: 66rem;
                }
            }
        }
    }

    &__content {
        width: 594rem;
        padding: 28rem 0 0;

        @include mob {
            width: 340rem;
            margin: 0 auto;
            padding: 234rem 0 0;
        }

        &Support {
            color: var(--main-color);
            font-size: 48rem;

            @include mob {
                font-size: 30rem;
            }
        }

        &Slogan {
            display: block;
            width: 100%;
            margin: -50rem 0 0 38rem;
            object-fit: contain;

            @include mob {
                margin: -22rem 0 15rem;
            }
        }

        &Title {
            display: block;
            width: 310rem;
            object-fit: contain;

            @include mob {
                width: 200rem;
            }
        }

        &Offer {
            position: relative;
            z-index: 1;
            width: 88%;
            margin-left: 35rem;
            padding-right: 130rem;

            @include mob {
                width: 100%;
                margin-top: 8rem;
                margin-left: 0;
                padding-right: 0;
            }

            &::after {
                position: absolute;
                top: 50%;
                right: 0;
                z-index: 2;
                width: 128rem;
                height: 140rem;
                margin: 12rem -6rem 0;
                transform: translate(0, -50%);
                content: "";
                pointer-events: none;

                @include bg("/media/zagl/big-money.svg", contain, right center);

                @include mob {
                    top: -86rem;
                    right: -65rem;
                    width: 100rem;
                    height: 100rem;
                    margin: 0;
                    transform: translate(0, 0) rotate(13deg);
                }
            }

            &Title {
                margin: 0 0 -6rem -5rem;
                color: #fff;
                font-size: 91rem;

                @include mob {
                    margin: 0 0 -3rem;
                    font-size: 75rem;
                }
            }

            &Text {
                position: relative;
                padding-right: 11rem;
                color: #fff;
                font-size: 18rem;

                @include mob {
                    font-size: 15rem;
                }

                &._main {
                    margin-bottom: 8rem;
                    color: var(--main-color);
                    font-size: 41.5rem;
                    line-height: 0.7;

                    @include mob {
                        margin-bottom: 10rem;
                        font-size: 35rem;
                    }
                }

                & span {
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: #fff;
                    font-size: 13rem;

                    @include mob {
                        top: -2rem;
                        font-size: 12rem;
                    }
                }

                &._main span {
                    color: var(--main-color);
                }
            }
        }

        &Button {
            margin-top: 48rem;
            padding: 20rem 32rem;
            color: var(--sub-color);
            font-size: 20rem;
            text-transform: uppercase;
            background: #fff;
            border-radius: 360rem;
            transition: $trans;

            @include mob {
                margin-top: 44rem;
                padding: 16rem 32rem;
            }

            @include button;

            &:hover {
                background: var(--main-color);
            }
        }
    }

    &__footer {
        position: relative;
        z-index: 2;
        width: 100%;
        padding: 40rem 0 80rem;
        background: #8fc045;

        @include mob {
            padding-bottom: 50rem;
        }

        &::before {
            position: absolute;
            top: -100rem;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 200rem;
            content: "";
            pointer-events: none;

            @include bg("/media/zagl/zagl-footer.svg", 100% auto, center top);

            @include mob {
                top: -20rem;

                @include bg("/media/zagl/zagl-footer-mob.svg", 100% auto, center top);
            }
        }

        &Text {
            position: relative;
            z-index: 3;
            width: 1130rem;
            color: #fff;
            font-size: 13.2rem;
            font-family: Inter;
            line-height: 1.9;
            text-align: center;

            @include mob {
                width: 370rem;
                font-size: 15.5rem;
                line-height: 1.5;
            }
        }
    }
}
