.calc {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20rem;

    @include bg("/media/calc/calc-bg.svg", cover, center);

    &__startHead {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        align-items: center;
        width: 100%;
        padding: 20rem 0;
        transition: $trans;

        &Title {
            margin-bottom: 5rem;
            padding: 18rem 24rem;
            color: #fff;
            font-size: 36rem;
            text-align: center;
            text-transform: uppercase;

            @include bg("/media/calc/title-back.svg", contain, center);
        }

        &Text {
            color: #5d279e;
            font-size: 20rem;
            line-height: 1.2;
            text-align: center;
        }

        &Thumb {
            position: absolute;
            top: 170rem;
            z-index: 1;
            width: 225rem;
            height: 378rem;
            object-fit: contain;

            &._left {
                left: -2rem;
            }

            &._right {
                right: 6rem;
            }
        }
    }

    &._result &__startHead {
        opacity: 0;
        pointer-events: none;
    }

    &__startForm {
        position: absolute;
        top: 168rem;
        left: 50%;
        z-index: 2;
        width: 592rem;
        height: 400rem;
        margin-left: -7rem;
        padding: 0 5rem 0 0;
        transform: translate(-50%, 0);
        transition: $trans;

        @include bg("/media/calc/calc-bg-1.svg", contain, center top);

        &Field {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 248rem;
            height: 60rem;
            margin: 118rem auto 0;
            text-align: center;

            & label {
                padding-left: 12rem;
                color: #c10230;
                font-size: 48rem;
                text-transform: uppercase;
                cursor: text;
            }
        }

        &Input {
            color: #fff;
            font-size: 48rem;
            text-transform: uppercase;
        }
    }

    &:not(._start) &__startForm,
    &:not(._start) &__buttons._start {
        opacity: 0;
        pointer-events: none;
    }

    &__process {
        position: absolute;
        top: 164rem;
        left: 50%;
        z-index: 3;
        width: 590rem;
        height: 410rem;
        margin-left: -6rem;
        padding: 32rem 70rem 56rem;
        transform: translate(-50%, 0);
        transition: $trans;

        @include bg("/media/calc/calc-process-back.svg", 100% auto, center top);

        &Thumb {
            position: absolute;
            top: 24rem;
            left: 50%;
            z-index: 3;
            width: 260rem;
            height: 260rem;
            transform: translate(-50%, 0);
            animation: calcProcessThumb 2s infinite ease-in-out;
            pointer-events: none;
            will-change: transform;

            @keyframes calcProcessThumb {
                0% {
                    transform: translate(-50%, 0) rotate(-1deg);
                }

                16% {
                    transform: translate(-50%, 0) scale(1.1) rotate(3deg);
                }

                32% {
                    transform: translate(-50%, 0) scale(0.9) rotate(-1deg);
                }

                48% {
                    transform: translate(-50%, 0) scale(1.08) rotate(3deg);
                }

                64% {
                    transform: translate(-50%, 0) scale(.92) rotate(-1deg);
                }

                82% {
                    transform: translate(-50%, 0) scale(1.1) rotate(3deg);
                }

                100% {
                    transform: translate(-50%, 0) rotate(-1deg);
                }
            }

            &Inner {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: $trans;
                will-change: transform;
            }

            &:not(._current) &Inner {
                transform: scale(0.95);
                opacity: 0;
            }
        }

        &Back {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 4;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: $trans;
            pointer-events: none;

            &:not(._current) {
                opacity: 0;
            }
        }

        &Progress {
            position: relative;
            z-index: 5;
            width: 100%;
            height: 60rem;
            margin: auto auto 0;
            overflow: hidden;
            background: #5c0f8b;
            border: 3rem solid #5c0f8b;
            border-radius: 360rem;

            &Inner {
                position: relative;
                width: 100%;
                height: 100%;

                &::before,
                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    animation: calcProgress 2.5s infinite linear;
                    content: "";

                    @include bg("/media/calc/calc-process.svg", contain, left center);
                }

                &::before {
                    left: -100%;
                }

                @keyframes calcProgress {
                    0% {
                        transform: translate(0, 0);
                    }

                    100% {
                        transform: translate(100%, 0);
                    }
                }
            }

            &Line {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 4;
                width: 90%;
                height: 100%;
                background: #783fc7;
            }

            &Title {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                color: #ffce00;
                font-size: 24rem;
                white-space: nowrap;
                text-align: center;
                text-transform: uppercase;
                transition: $trans;

                &:not(._current) {
                    opacity: 0;

                    &._prev {
                        transform: translate(0, -10rem);
                    }

                    &._next {
                        transform: translate(0, 10rem);
                    }
                }
            }
        }
    }

    &:not(._process) &__process {
        opacity: 0;
        pointer-events: none;
    }

    &__result {
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;
        width: 100%;
        padding: 20rem 68rem 0;
        transition: $trans;

        &Title {
            position: relative;
            margin-bottom: 8rem;
            padding: 16rem 32rem;
            color: #fff;
            font-size: 36rem;
            text-align: center;
            text-transform: uppercase;

            @include bg("/media/calc/title-back-2.svg", contain, center);

            & span {
                position: absolute;
                top: 16rem;
                right: 12rem;
                color: #fff;
                font-size: 16rem;
            }
        }

        &Content {
            position: relative;
            z-index: 1;
            align-items: center;
            width: 100%;
            padding: 12rem 0 0;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                width: 100%;
                height: 100%;
                content: "";

                @include bg("/media/calc/calc-bg-6.svg", 100% auto, center top);
            }
        }

        &Tabs {
            display: flex;
            margin-bottom: 10rem;
            padding: 3rem;
            background: #fff;
            border-radius: 360rem;
        }

        &Tab {
            padding: 4rem 9rem;
            color: #5d279e;
            font-size: 14rem;
            line-height: 1.3;
            text-transform: uppercase;
            border-radius: 360rem;
            transition: $trans;

            &._current {
                color: #fff;
                background: #c10230;
            }

            & + & {
                margin-left: 4rem;
            }
        }

        &Blocks {
            width: 100%;
            height: 330rem;
        }

        &Block {
            width: 100%;
            will-change: transform;

            &:not([data-show]) {
                &[data-prev] {
                    transform: translate(-32rem, 5rem) rotate(-3deg);
                }

                &[data-next] {
                    transform: translate(32rem, 5rem) rotate(3deg);
                }
            }
        }
    }

    &:not(._result) &__result {
        opacity: 0;
        pointer-events: none;
    }

    &__buttons {
        position: absolute;
        bottom: 54rem;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        transition: $trans;

        &._result {
            position: relative;
            bottom: 0;
            margin-top: 24rem;
        }
    }

    &__button {
        & + & {
            margin-left: 16rem;
        }
    }

    &__buttons._result &__button {
        width: 240rem;
    }

    &__support {
        position: absolute;
        bottom: 14rem;
        left: 0;
        z-index: 2;
        width: 100%;
        color: #5d279e;
        font-size: 14rem;
        font-family: Onest;
        text-align: center;
        pointer-events: none;

        & a {
            display: inline-block;
            color: #5d279e;
            font-family: Onest;
            line-height: 0.8;
            border-bottom: 1rem solid rgba(#5d279e, 0.72);
        }
    }
}
